.container {
    align-items: center;
    margin-top: 1rem;
    display: flex;
    /* margin: 0 10rem 6rem 2rem; */
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25rem;
    margin-right: 0rem;
  }

  
  .content {
    width: 35rem;
  }
  
  .content,
  .inputs {
    display: flex;
    flex-direction: column;
  }
  
  .inputs {
    width: 100%;
  }
  
  .buttons_container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .buttons {
    margin: 2rem;
    width: 35rem;
  }