@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-botton: 1.5rem;
}

.container input {
  font-family: Laila;
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.container button {
  font-family: Laila;
  color: gray;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: #A53E42;
  color: white;
  opacity: 0.85;
  outline: none;
}

  .container button:hover {
    opacity: 1.0;
    cursor: pointer;
  }